@model Lagerverwaltung.Database.Sale

@{
    ViewData["Title"] = "Create";
}

<h1>Verkauf erfassen</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-returnToProductDetails="@ViewBag.ReturnToProductDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <a asp-controller="Customer" asp-action="Create" asp-route-returnToCreateSale="true" class="btn btn-success">Kunde hinzufügen</a>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualSalePrice" class="control-label"></label>
                <input asp-for="ActualSalePrice" class="form-control" />
                <span asp-validation-for="ActualSalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" type="date"/>
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" asp-route-returnToProductDetails="@ViewBag.ReturnToProductDetails" class="btn btn-outline-secondary">Zurück</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
